# Node
node_modules/

# Symfony
project/vendor/
project/var/
.env
.env.local
.env.local.php
.env.*.local
project/config/secrets/prod/prod.decrypt.private.php
project/public/bundles/

# OS
.DS_Store
Thumbs.db
